<div>
	<h1> <%= recipe.name %> </h1>
	<h3>For: <%= recipe.meal %></h3>
	<h3>Created by: <%= recipe._creator =></h3>

	<h2>Ingredients</h2>
		<%= recipe.ingredients %>

	<h2>Steps</h2>
		<%= recipe.steps %>
</div>